
/* Type Selectors */

h1 {
    background-color: lightgray;
}

body {
    background-image: url("HiThere.jpg");
    background-color: #cccccc;
   }


/* Pseudo Selectors */ 

a:link {
    color: turquoise;
}

a:visited {
    color: lightslategray;
}

a:hover {
    color: blue;
}

a:focus {
    color: black;
    background-color: turquoise;
}