/****  Base Styles ****/

html {
  color: whitesmoke;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box; /* width or height + padding + border = actual width or height */
  background-color: rgb(73, 72, 72);
}

*, *:before, *:after {  /* Insures the inheritance of box-sizing throughout */
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Helvetica Neue, Arial;
  font-size: 16px;
  line-height: 26px;
}

.wrapper {  /* Wraps all of the body except the nav bar */
  width: 90%;
  margin: 0 auto;
}

.header-container {
  border: 2px solid turquoise;
}

.footer-container {
  border-top: 2px solid turquoise;
  text-align: center;
  padding-bottom: 1px;
  flex-shrink: 0;
}

.header-container, .footer-container, .main aside { /* Background color for entire page */
  background: #363636;
}

.placeholderRed { /* This is the background colore for the error validation in JS */
  background-color: tomato;
}

aside { /* I wanted the first page to look a bit more dramatic, so I added an aside */
  padding: 15px 15px;
  margin: 20px;
  text-align: center;
  border: 2px solid turquoise;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a { /* Positioning/styling the nav bar */
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color:black;
  background: turquoise;
}

p {
  color: whitesmoke;
}

h3 {
  color: turquoise;
}


/**** Class Selectors ****/

.title {
  color: turquoise;
}

/**** Pseudo Selectors ****/

a:link {
  text-decoration: none;
  color: rgb(37, 34, 248);
}

a:hover, a:visited {
  color: rgb(165, 54, 11);
  text-decoration: underline;
}

/**** Contact Form ****/

input[type=text], textarea {
  width: 100%;  /* Full width */
  padding: 12px; 
  border: 1px solid turquoise;  /* Solid 1px turquoise border around input fields */
  border-radius: 5px; /* Rounds the border of input fields slightly */
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical /* User can resize text area vertically but not horizontally */
}

.container {
  border-radius: 5px; /* Rounds corners of container */
  background-color: #363636;
  padding: 20px;
}

/**** Flex-box ****/

.flex-container {
  display: flex;
  flex-flow: row wrap;  /*shorthand for the flex-direction and flex-wrap */
  justify-content: space-evenly;
}


/**** Meadia Queries ****/

@media only screen and (min-width: 480px) { /* Changes occur when brower window is 480px or less */
  nav a {
    float: left;
    width: 30%;
    margin: 0 0 0 5%;
    padding: 25px 1%;
    margin-bottom: 0;
  }
  nav li:first-child a {  /* Select and style the nav li a element that is the first child of its parent */
    margin-left: 0;
  }
  nav li:last-child a {   /* Select and style the nav li a element that is the last child of its parent */ 
    margin-right: 0;
  }
} /* This repositions the nav bar as the browser window shrinks or is viewed on a smaller browser window */

@media only screen and (min-width: 768px), only screen and (min-width: 700px) and (orientation: landscape) {
  .title {  /* Adding breakpoints and correcting for landscape orientation on phones and tablets */
    float: left;
    font-size: 1.4em;
  }
  nav {
    float: right;
    width: 60%;
  }
  nav a {
    padding: 15px 1%;
  }
  .main article {
    float: left;
    width: 57%;
  }
  .main aside {
    float: right;
    width: 38%;
  }
}

@media only screen and (min-width: 1140px) {  /* Changes occur when brower window is 1140px or less */
  .wrapper {
    width: 1026px; /* Maximum width at largest browser size */
    margin: 0 auto;
  }
  .title {
    font-size: 2em;
  }
  nav a {
    padding: 25px 1%;
  }
}

/****  Clear Fix ****/

.clearfix:before, .clearfix:after { /* If an element is taller than the element containing it, and it is floated, it will overflow outside of its container. So, force an element to self-clear its children */
  content: " ";
  display: table;
}

.clearfix:after { /* This was how one of the treehouse instructor programed his clearfix and it worked for me. */
  clear: both;
}

.clearfix {
  *zoom: 1;
}